Repository scalameta/scalameta, pull requests merged in 2018-08, with the labels that each got.

#1738 Fix my part of the remaining 4.0.0-RC1 tickets
  bench/suite/src/main/scala/scala/meta/internal/bench/Metacp.scala
  semanticdb/cli/src/main/scala/scala/meta/cli/Reporter.scala
  semanticdb/integration/src/main/java/com/javacp/Interface.java
  semanticdb/integration/src/main/java/com/javacp/Test.java
  semanticdb/integration/src/main/scala/example/Access.scala
  semanticdb/integration/src/main/scala/example/Annotations.scala
  semanticdb/integration/src/main/scala/example/Methods.scala
  semanticdb/javac/src/main/scala/scala/meta/internal/semanticdb/javac/semantics/Elements.scala
  semanticdb/javac/src/main/scala/scala/meta/internal/semanticdb/javac/semantics/TypeMirrors.scala
  semanticdb/metacp/src/main/scala/scala/meta/cli/Metacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/classpath/ClasspathIndex.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/Javacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Scalalib.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolInformationOps.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolOps.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Synthetics.scala
  semanticdb/metacp/src/main/scala/scala/meta/metacp/Result.scala
  semanticdb/metai/src/main/scala/scala/meta/cli/Metai.scala
  semanticdb/metai/src/main/scala/scala/meta/metai/Result.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/SymbolInformationPrinter.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbPipeline.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SymbolInformationOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SymbolOps.scala
  semanticdb/semanticdb/semanticdb.proto
  semanticdb/semanticdb/src/main/scala/scala/meta/internal/semanticdb/package.scala
  semanticdb/semanticdb3/guide.md
  semanticdb/semanticdb3/semanticdb3.md
  tests/jvm/src/test/resources/javac.expect
  tests/jvm/src/test/resources/metac-metacp.diff
  tests/jvm/src/test/resources/metac.expect
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metai.expect
  tests/jvm/src/test/scala/scala/meta/tests/metacp/ConvertSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metai/MetaiErrorSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
Labels: Javac, Javacp, Metap, Scalac, Scalacp, Spec, Symtab

#1740 Change metap macro synthetic printout to explain the expandee
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/SyntheticPrinter.scala
  tests/jvm/src/test/resources/metac.expect
Labels: Metap

#1747 Last-minute changes before the 4.0 code freeze
  scalameta/inputs/shared/src/main/scala/scala/meta/internal/inputs/package.scala
  semanticdb/javac/src/main/scala/scala/meta/internal/semanticdb/javac/semantics/Elements.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/Javacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/NameOps.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Scalacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Scalalib.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolInformationOps.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolOps.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Synthetics.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/TypeOps.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/SymbolInformationPrinter.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/SyntheticPrinter.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/NameOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SymbolInformationOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SymbolOps.scala
  semanticdb/semanticdb/semanticdb.proto
  semanticdb/semanticdb/src/main/scala/scala/meta/internal/semanticdb/Scala.scala
  semanticdb/semanticdb3/semanticdb3.md
  semanticdb/symtab/src/main/scala/scala/meta/internal/symtab/GlobalSymbolTable.scala
  tests/jvm/src/test/resources/metac-metacp.diff
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.undefined
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ConfigSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/JavacpSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/symtab/SymbolTableSuite.scala
Labels: Javac, Javacp, Metap, Scalac, Scalacp, Semantic, Spec

#1750 Add a bunch of convenience isXXX methods to SymbolInformation
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/SymbolInformationPrinter.scala
  semanticdb/semanticdb/src/main/scala/scala/meta/internal/semanticdb/package.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/symtab/SymbolTableSuite.scala
Labels: Semantic
