Repository scalameta/scalameta, pull requests merged in 2018-07, with the labels that each got.

#1627 Fix vanishing unicode literals in pattern position or other cases
  scalameta/tokenizers/shared/src/main/scala/scala/meta/internal/tokenizers/CharArrayReader.scala
  scalameta/tokenizers/shared/src/main/scala/scala/meta/internal/tokenizers/LegacyScanner.scala
  tests/jvm/src/test/resources/unicode.txt
Labels: Parsing

#1641 Emit SymbolInformation for Java compilation units in metac
  scalameta/testkit/src/main/scala/scala/meta/testkit/DiffAssertions.scala
  semanticdb/integration/src/main/scala/example/MethodUsages.scala
  semanticdb/integration/src/main/scala/example/Methods.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/ClasspathIndex.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/InputOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbPipeline.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SymbolInformationOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SymbolOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/TextDocumentOps.scala
  semanticdb/semanticdb3/semanticdb3.md
  tests/jvm/src/test/resources/metac-metacp.diff
  tests/jvm/src/test/resources/metac.expect
  tests/jvm/src/test/resources/metac.index
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/scala-2.12/scala/meta/tests/semanticdb/IncrementalSuite.scala
  tests/jvm/src/test/scala-2.12/scala/meta/tests/semanticdb/ZincProject.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/InteractiveSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/JavaCompilationUnitSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/SemanticdbSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/TargetedSuite.scala
Labels: Metac

#1668 A few quick fixes for recent changes
  build.sbt
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolOps.scala
  semanticdb/semanticdb/src/main/scala/scala/meta/internal/semanticdb/Scala.scala
  semanticdb/semanticdb3/guide.md
  tests/jvm/src/test/resources/manifest.jar
  tests/jvm/src/test/resources/manifest.metacp
  tests/jvm/src/test/resources/manifest.metap
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.index
  tests/jvm/src/test/resources/part0.jar
  tests/jvm/src/test/resources/part1.jar
  tests/jvm/src/test/scala/scala/meta/tests/metacp/ClasspathIndexSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/SymbolSuite.scala
Labels: Scalacp, Semantic

#1646 Support SymbolInformation.annotations in metacp (fix #1315)
  semanticdb/integration/src/main/java/com/javacp/annot/ClassAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/ConstructorAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/FieldAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/InterfaceAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/LocalAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/MacroAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/MethodAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/ObjectAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/PackageAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/PackageObjectAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/ParameterAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/SelfParameterAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/TraitAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/TypeAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/TypeParameterAnnotation.java
  semanticdb/integration/src/main/java/com/javacp/annot/usage/AnnotatedInterface.java
  semanticdb/integration/src/main/java/com/javacp/annot/usage/AnnotatedPackage.java
  semanticdb/integration/src/main/scala/example/Annotations.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolInformationOps.scala
  tests/jvm/src/test/resources/metac-metacp.diff
  tests/jvm/src/test/resources/metac.expect
  tests/jvm/src/test/resources/metac.index
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.index
Labels: Scalacp

#1674 Follow up for recent changes
  semanticdb/metacp/src/main/scala/scala/meta/internal/classpath/ClasspathElement.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/classpath/ClasspathIndex.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/index/SemanticdbIndex.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/MetacpGlobalCache.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/package.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/MissingSymbolException.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Scalacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Scalalib.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolIndex.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolInformationOps.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolLookup.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolOps.scala
  semanticdb/metacp/src/main/scala/scala/meta/metacp/Settings.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbPipeline.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/TextDocumentOps.scala
  semanticdb/semanticdb/src/main/scala/scala/meta/internal/semanticdb/Locator.scala
  tests/jvm/src/main/scala/scala/meta/tests/metacp/Libraries.scala
  tests/jvm/src/test/resources/metac-metacp.diff
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/scala/scala/meta/tests/metacp/ClasspathIndexSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/MetacpErrorSuite.scala
Labels: Javacp, Scalacp

#1682 Add symbol table module
  build.sbt
  scalameta/io/js/src/main/scala/scala/meta/internal/io/PlatformFileIO.scala
  scalameta/io/jvm/src/main/scala/scala/meta/internal/io/PlatformFileIO.scala
  scalameta/io/native/src/main/scala/scala/meta/internal/io/PlatformFileIO.scala
  scalameta/io/shared/src/main/scala/scala/meta/internal/io/FileIO.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/classpath/ClasspathElement.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/classpath/ClasspathIndex.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/classpath/MissingSymbolException.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/index/SemanticdbIndex.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/Javacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Checksum.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/ClassfileInfos.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/MetacpGlobalCache.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/ToplevelClassfile.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/ToplevelInfos.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/package.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/MissingSymbolException.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/ScalaSigAttribute.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/ScalaSigNode.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Scalacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Scalalib.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolIndex.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/SymbolOps.scala
  semanticdb/metacp/src/main/scala/scala/meta/metacp/Settings.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbPipeline.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/TextDocumentOps.scala
  semanticdb/semanticdb/semanticidx.proto
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Index.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Indexes.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/SemanticidxProto.scala
  semanticdb/semanticdb3/guide.md
  semanticdb/semanticdb3/semanticdb3.md
  semanticdb/symtab/src/main/scala/scala/meta/internal/symtab/AggregateSymbolTable.scala
  semanticdb/symtab/src/main/scala/scala/meta/internal/symtab/GlobalSymbolTable.scala
  semanticdb/symtab/src/main/scala/scala/meta/internal/symtab/LocalSymbolTable.scala
  semanticdb/symtab/src/main/scala/scala/meta/internal/symtab/SymbolTable.scala
  tests/jvm/src/test/resources/manifest.metacp
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/scala-2.12/scala/meta/tests/semanticdb/IncrementalSuite.scala
  tests/jvm/src/test/scala-2.12/scala/meta/tests/semanticdb/ZincProject.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/CacheSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/ConvertSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/MetacpErrorSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/symtab/SymbolTableSuite.scala
Labels: Javacp, Metac, Scalacp, Symtab

#1687 Implement a semanticdb javac compiler plugin
  .scalafmt.conf
  appveyor.yml
  build.sbt
  project/Build.scala
  project/plugins.sbt
  semanticdb/javac/src/main/resources/META-INF/services/com.sun.source.util.Plugin
  semanticdb/javac/src/main/scala/scala/meta/internal/semanticdb/javac/SemanticdbGen.scala
  semanticdb/javac/src/main/scala/scala/meta/internal/semanticdb/javac/SemanticdbListener.scala
  semanticdb/javac/src/main/scala/scala/meta/internal/semanticdb/javac/SemanticdbPlugin.scala
  semanticdb/javac/src/main/scala/scala/meta/internal/semanticdb/javac/semantics/Elements.scala
  semanticdb/javac/src/main/scala/scala/meta/internal/semanticdb/javac/semantics/TypeMirrors.scala
  semanticdb/javac/src/main/scala/scala/meta/internal/semanticdb/javac/semantics/package.scala
  semanticdb/semanticdb3/guide.md
  tests/jvm/src/main/scala/scala/meta/tests/SkipWindows.scala
  tests/jvm/src/test/resources/javac-metacp.diff
  tests/jvm/src/test/resources/javac.expect
  tests/jvm/src/test/resources/javac.index
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/SemanticdbSuite.scala
Labels: Javac

#1690 Create new metai command-line tool
  build.sbt
  scalameta/io/js/src/main/scala/java/nio/file/Path.scala
  scalameta/io/js/src/main/scala/scala/meta/internal/io/NodeNIOPath.scala
  scalameta/io/js/src/main/scala/scala/meta/internal/io/PlatformFileIO.scala
  scalameta/io/jvm/src/main/scala/scala/meta/internal/io/PlatformFileIO.scala
  scalameta/io/native/src/main/scala/scala/meta/internal/io/PlatformFileIO.scala
  scalameta/io/shared/src/main/scala/scala/meta/internal/io/ClasspathFile.scala
  scalameta/io/shared/src/main/scala/scala/meta/internal/io/FileIO.scala
  scalameta/io/shared/src/main/scala/scala/meta/internal/io/package.scala
  scalameta/io/shared/src/main/scala/scala/meta/io/AbsolutePath.scala
  scalameta/io/shared/src/main/scala/scala/meta/io/Classpath.scala
  scalameta/io/shared/src/main/scala/scala/meta/io/RelativePath.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/ClassfileInfos.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metai/src/main/scala/scala/meta/cli/Metai.scala
  semanticdb/metai/src/main/scala/scala/meta/internal/metai/Main.scala
  semanticdb/metai/src/main/scala/scala/meta/metai/Settings.scala
  semanticdb/semanticdb/semanticidx.proto
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticidx/EntryMessage.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticidx/Index.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticidx/Indexes.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticidx/SemanticidxProto.scala
  tests/jvm/src/test/resources/metai.expect
  tests/jvm/src/test/scala/scala/meta/tests/api/SurfaceSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metai/MetaiErrorSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/shared/src/test/scala/scala/meta/tests/prettyprinters/PublicSuite.scala
Labels: Metai

#1705 Upgrade to Scala Native 0.3.8
  project/plugins.sbt
Labels: Build

#1709 Semanticdb synthetics refactor
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/SymbolInformationPrinter.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/SyntheticPrinter.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/Inferred.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/PrinterOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SyntheticOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/TextDocumentOps.scala
  semanticdb/semanticdb/semanticdb.proto
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Accessibility.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Annotation.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Constant.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Diagnostic.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Location.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Range.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Scope.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/SemanticdbProto.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Signature.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/SymbolInformation.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/SymbolOccurrence.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Synthetic.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/TextDocument.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/TextDocuments.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Tree.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Type.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticidx/Entry.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticidx/Index.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticidx/Indexes.scala
  semanticdb/semanticdb/src/main/scala/scala/meta/internal/semanticdb/package.scala
  tests/jvm/src/test/resources/metac.expect
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/InteractiveSuite.scala
Labels: Metap, Scalac

#1712 Specify changes to SemanticDB synthetics
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/SyntheticPrinter.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SyntheticOps.scala
  semanticdb/semanticdb/semanticdb.proto
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/SemanticdbProto.scala
  semanticdb/semanticdb/src/main/generated/scala/meta/internal/semanticdb/Tree.scala
  semanticdb/semanticdb3/semanticdb3.md
  tests/jvm/src/test/resources/metac.expect
Labels: Metap, Scalac, Spec

#1722 A few specification cleanups
  semanticdb/semanticdb3/semanticdb3.md
Labels: Spec

#1723 Assorted improvements
  build.sbt
  scalameta/inputs/shared/src/main/scala/scala/meta/inputs/Position.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/classpath/ClasspathIndex.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/RangePrinter.scala
  semanticdb/symtab/src/main/scala/scala/meta/internal/symtab/GlobalSymbolTable.scala
  tests/shared/src/test/scala/scala/meta/tests/inputs/OffsetLineColumnSuite.scala
Labels: Symtab, Trees

#1726 Assorted improvements to metacp and metai that make everything work on a case study project
  bench/suite/src/main/scala/scala/meta/internal/bench/Metacp.scala
  semanticdb/cli/src/main/scala/scala/meta/cli/Reporter.scala
  semanticdb/cli/src/main/scala/scala/meta/internal/cli/Args.scala
  semanticdb/cli/src/main/scala/scala/meta/internal/cli/Job.scala
  semanticdb/cli/src/main/scala/scala/meta/internal/cli/package.scala
  semanticdb/metac/src/main/scala/scala/meta/cli/Metac.scala
  semanticdb/metacp/src/main/scala/scala/meta/cli/Metacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/metacp/Result.scala
  semanticdb/metacp/src/main/scala/scala/meta/metacp/Settings.scala
  semanticdb/metai/src/main/scala/scala/meta/cli/Metai.scala
  semanticdb/metai/src/main/scala/scala/meta/internal/metai/Main.scala
  semanticdb/metai/src/main/scala/scala/meta/metai/Result.scala
  semanticdb/metai/src/main/scala/scala/meta/metai/Settings.scala
  semanticdb/metap/src/main/scala/scala/meta/cli/Metap.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
  semanticdb/metap/src/main/scala/scala/meta/metap/Settings.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbPipeline.scala
  tests/jvm/src/test/scala/scala/meta/tests/api/SurfaceSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/ConvertSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/MetacpErrorSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metai/MetaiErrorSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/shared/src/test/scala/scala/meta/tests/prettyprinters/PublicSuite.scala
Labels: Javacp, Metai, Metap, Scalacp
