Repository scalameta/scalameta, pull requests merged in 2018-02, with the labels that each got.

#1278 Add ENUM literal type.
  semanticdb/integration/src/main/scala/example/Types.scala
  semanticdb/metacp/src/main/scala/scala/meta/cli/metacp/Main.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/TypeOps.scala
  tests/jvm/src/test/resources/highlevel.expect
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metacp.expect
Labels: Docs, Semantic

#1284 Remove extraneous newlines printed by metap for literal types
  semanticdb/metap/src/main/scala/scala/meta/cli/metap/Main.scala
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metacp.expect
Labels: Metap

#1280 Add real-world integration test for metac.
  .travis.yml
  build.sbt
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/MetacScalaLibrary.scala
Labels: Symtab

#1301 Fully automate enforcement of the compatibility policy
  COMPATIBILITY.md
  build.sbt
  project/Mima.scala
Labels: Build

#1270 Fix vanish unicode escape in string interpolation
  scalameta/tokenizers/shared/src/main/scala/scala/meta/internal/tokenizers/LegacyScanner.scala
  tests/jvm/src/test/resources/unicode.txt
  tests/jvm/src/test/scala/scala/meta/tests/tokenizers/UnicodeEscapeSuite.scala
  tests/shared/src/test/scala/scala/meta/tests/tokenizers/BaseTokenizerSuite.scala
  tests/shared/src/test/scala/scala/meta/tests/tokenizers/TokenizerSuite.scala
Labels: Parsing

#1285 Remove metac/metap/metacp from the public API
  build.sbt
  semanticdb/metac/src/main/scala/scala/meta/cli/Metac.scala
  semanticdb/metac/src/main/scala/scala/meta/internal/metac/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/cli/Metacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Settings.scala
  semanticdb/metap/src/main/scala/scala/meta/cli/Metap.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
  tests/jvm/src/test/scala/scala/meta/tests/api/SurfaceSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/cli/CliSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/MetacScalaLibrary.scala
  tests/shared/src/test/scala/scala/meta/tests/prettyprinters/PublicSuite.scala
Labels: Build

#1304 Run metacp on scala-library
  build.sbt
  langmeta/langmeta/shared/src/main/scala/org/langmeta/io/Fragment.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  tests/jvm/src/test/scala/scala/meta/tests/cli/BaseCliSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/cli/CliSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/Jars.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/MetacpSuite.scala
Labels: Metacp

#1316 Further updates to the SemanticDB spec
  COMPATIBILITY.md
  build.sbt
  langmeta/langmeta/js/src/main/scala/org/langmeta/internal/io/PlatformFileIO.scala
  langmeta/langmeta/jvm/src/main/scala/org/langmeta/internal/io/PlatformFileIO.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/internal/io/FileIO.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/io/Multipath.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/Database.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/Denotation.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/Document.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/Flags.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/ResolvedName.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/internal/package.scala
  project/Mima.scala
  semanticdb/integration/src/main/scala/example/Accessibility.scala
  semanticdb/integration/src/main/scala/example/Empty.scala
  semanticdb/integration/src/main/scala/example/Flags.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/AnnotationOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/ConfigOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/DatabaseOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/DenotationOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/DocumentOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SymbolOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/TypeOps.scala
  semanticdb/semanticdb3/semanticdb3.md
  semanticdb/semanticdb3/semanticdb3.proto
  tests/jvm/src/test/resources/highlevel.expect
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metac.owners
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.owners
  tests/jvm/src/test/scala/scala/meta/tests/metacp/MetacpSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/TargetedSuite.scala
Labels: Metac, Metacp, Metap, Semantic, Spec

#1320 Reformat scalameta/semanticdb
  .scalafmt.conf
  semanticdb/metac/src/main/scala/scala/meta/internal/metac/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Settings.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
Labels: Build

#1323 Assorted spec and implementation work
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/Flags.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/Symbol.scala
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/internal/package.scala
  semanticdb/integration/src/main/scala/example/Example.scala
  semanticdb/integration/src/main/scala/example/Flags.scala
  semanticdb/integration/src/main/scala/example/Methods.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/DatabaseOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/DenotationOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/NameOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SymbolOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/TypeOps.scala
  semanticdb/semanticdb3/semanticdb3.md
  semanticdb/semanticdb3/semanticdb3.proto
  tests/jvm/src/test/resources/highlevel.expect
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metac.owners
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.owners
  tests/jvm/src/test/scala-2.12/scala/meta/tests/semanticdb/OverridesSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/cli/CliSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/InteractiveSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/TargetedSuite.scala
  tests/shared/src/test/scala/scala/meta/tests/prettyprinters/PublicSuite.scala
Labels: Metac, Metacp, Metap, Semantic, Spec

#1326 Implement the new representation for vals, vars and class parameters
  build.sbt
  semanticdb/integration/src/main/scala/example/Methods.scala
  semanticdb/integration/src/main/scala/example/Vals.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/DenotationOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/DocumentOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SymbolOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/TypeOps.scala
  semanticdb/semanticdb3/semanticdb3.md
  tests/jvm/src/test/resources/highlevel.expect
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metac.owners
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.owners
  tests/jvm/src/test/scala-2.12/scala/meta/tests/semanticdb/MemberSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/DatabaseSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/InteractiveSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/TargetedSuite.scala
Labels: Metac, Metacp, Metap, Spec

#1335 Post-3.3.0 release cleanup
  RELEASING.md
  build.sbt
Labels: Build, Docs

#1337 Further clarify the release checklist
  RELEASING.md
Labels: Docs

#1339 Assorted cleanups
  build.sbt
  semanticdb/integration/src/main/scala/example/Empty.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/TypeOps.scala
  semanticdb/semanticdb3/semanticdb3.md
  tests/jvm/src/test/resources/highlevel.expect
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metac.owners
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.owners
Labels: Metacp, Spec

#1344 Polish the release checklist
  .travis.yml
  RELEASING.md
Labels: Docs

#1361 Shepherd #1359 into master
  build.sbt
  langmeta/langmeta/jvm/src/main/scala/org/langmeta/internal/io/PlatformFileIO.scala
  scalameta/testkit/src/main/scala/scala/meta/testkit/DiffAssertions.scala
  semanticdb/integration/src/main/java/com/javacp/ClassSuffix.java
  semanticdb/integration/src/main/java/com/javacp/Javacp.java
  semanticdb/integration/src/main/java/com/javacp/NonGeneric.java
  semanticdb/integration/src/main/java/com/javacp/Recursive.java
  semanticdb/integration/src/main/scala/example/Javacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Javacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/ClassSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/FailFastSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/FieldSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/JavaTypeSignature.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/JavaTypeSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/MethodSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/ReferenceTypeSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/SimpleClassTypeSignatureBuilder.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/TypeArgumentVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/TypeParameterVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/TypeParametersVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/TypeVariableScopes.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/TypedSignatureVisitor.scala
  semanticdb/metap/src/main/scala/scala/meta/cli/Metap.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
  tests/jvm/src/test/resources/highlevel.expect
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metac.owners
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.owners
  tests/jvm/src/test/scala-2.12/scala/meta/tests/semanticdb/OverridesSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/cli/CliSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/BaseMetacpSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/MetacpSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/SignatureSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/trees/ParentSuite.scala
Labels: Metacp

#1363 Assorted fixes
  semanticdb/integration/src/main/scala/example/Flags.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Javacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/DenotationOps.scala
  semanticdb/semanticdb3/semanticdb3.md
  semanticdb/semanticdb3/semanticidx3.proto
  tests/jvm/src/test/resources/highlevel.expect
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metac.owners
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.owners
  tests/jvm/src/test/scala/scala/meta/tests/cli/CliSuite.scala
Labels: Metacp

#1367 Follow up from #1359
  .scalafmt.conf
  semanticdb/integration/src/main/java/com/javacp/Javacp.java
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Javacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Scope.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/JavaTypeSignature.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/ReferenceTypeSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/SimpleClassTypeSignatureBuilder.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/TypeVariableScopes.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
  semanticdb/semanticdb3/semanticdb3.md
  semanticdb/semanticdb3/semanticdb3.proto
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.owners
  tests/jvm/src/test/scala/scala/meta/tests/metacp/BaseMetacpSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/MetacpSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/SignatureSuite.scala
Labels: Metacp

#1373 Further follow up from #1359
  build.sbt
  langmeta/langmeta/shared/src/main/scala/org/langmeta/semanticdb/internal/package.scala
  scalameta/interactive/src/main/scala/scala/meta/interactive/InteractiveSemanticdb.scala
  semanticdb/integration/src/main/java/com/javacp/Javacp.java
  semanticdb/metac/src/main/scala/scala/meta/cli/Metac.scala
  semanticdb/metac/src/main/scala/scala/meta/internal/metac/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/cli/Metacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/JavaTypeSignature.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/Javacp.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/Printable.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/Scope.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/ClassSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/FailFastSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/FieldSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/JavaTypeSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/MethodSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/ReferenceTypeSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/SimpleClassTypeSignatureBuilder.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/TypeArgumentVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/TypeParameterVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/TypeParametersVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/javacp/asm/TypedSignatureVisitor.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Index.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/Main.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/ToplevelClassfile.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/ToplevelInfos.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/asm/JavaTypeSignature.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/metacp/package.scala
  semanticdb/metacp/src/main/scala/scala/meta/internal/scalacp/Scalacp.scala
  semanticdb/metap/src/main/scala/scala/meta/cli/Metap.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Settings.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/ConfigOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/DatabaseOps.scala
  semanticdb/scalac/library/src/main/scala/scala/meta/internal/semanticdb/scalac/SemanticdbPlugin.scala
  semanticdb/semanticdb3/semanticdb3.md
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/metacp.owners
  tests/jvm/src/test/scala-2.12/scala/meta/tests/semanticdb/MemberSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/cli/CliSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/BaseMetacpSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/metacp/SignatureSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/DatabaseSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/InteractiveSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/MetacScalaLibrary.scala
Labels: Metacp

#1376 More assorted fixes
  .scalafmt.conf
  build.sbt
  semanticdb/metap/src/main/scala/scala/meta/internal/metap/Main.scala
  semanticdb/scalalib/gen/src/main/scala/scala/meta/internal/scalalib/Generator.scala
  tests/jvm/src/test/resources/lowlevel.expect
  tests/jvm/src/test/resources/metacp.expect
  tests/jvm/src/test/resources/scalalib.expect
  tests/jvm/src/test/scala/scala/meta/tests/cli/CliSuite.scala
  tests/jvm/src/test/scala/scala/meta/tests/semanticdb/ExpectSuite.scala
Labels: Build, Metacp, Metap
